/* @font-face {
  font-family: "operetta_12medium";
  src: url("operetta12-medium-webfont.woff2") format("woff2"),
    url("operetta12-medium-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Avenir LT Std 45 Book";
  src: url("/css/fonts/AvenirLTStd-Roman.woff") format("woff"),
    url("/css/fonts/AvenirLTStd-Roman.woff2") format("woff2");
  font-style: normal;
  font-stretch: normal;
} */
